:root {
    --background-color: #181818;
    --border-color: #f7f7f7
}

html {
    font-size: 15px;
}

body {
    text-align: left;
    color: white;
    background-color: var(--background-color)
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: cyan;
    text-decoration: underline !important;
}

p {
    margin-bottom: 10px;
}

/* Formatting color codes */

.color-code,
.color-code__r {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.color-code__0 {
    color: #000000
}

.color-code__1 {
    color: #0000aa
}

.color-code__2 {
    color: #00aa00
}

.color-code__3 {
    color: #00aaaa
}

.color-code__4 {
    color: #aa0000
}

.color-code__5 {
    color: #aa00aa
}

.color-code__6 {
    color: #ffaa00
}

.color-code__7 {
    color: #aaaaaa
}

.color-code__8 {
    color: #555555
}

.color-code__9 {
    color: #5555ff
}

.color-code__a {
    color: #55ff55
}

.color-code__b {
    color: #55ffff
}

.color-code__c {
    color: #ff5555
}

.color-code__d {
    color: #ff55ff
}

.color-code__e {
    color: #ffff55
}

.color-code__f {
    color: #ffffff
}

.color-code__k {
    background-color: white;
}

.color-code__l {
    font-weight: bold;
}

/*
    TODO: figure out a way to be able to put m and n together.
    Don't know if any items actually have them together though
*/
.color-code__m {
    text-decoration: line-through;
}

.color-code__n {
    text-decoration: underline;
}

.color-code__o {
    font-style: italic;
}

.color-code__r {
    color: white;
}

.page-header {
    padding: 2.5rem 0 1.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--border-color)
}

.page-header__subtitle {
    font-size: 1.5rem;
}

.page-header__total-items {
    margin-bottom: 0px;
    margin-top: 2rem;
}

#total-items {
    font-weight: bold;
}

.body {
    position: relative;
}

.item-card {
    border: 2px solid var(--border-color);
    margin: 2rem 0;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.item-card__title {
    margin: 0;
    padding: 1.5rem;
    border-bottom: 2px solid #f7f7f7;
    width: 100%;
    font-weight: bold;
}

.item-card__property-group {
    padding: 1.5rem;
    width: 50%
}

@media (max-width: 575.98px) {
    .item-card__property-group {
        width: 100%
    }
}

.item-card__property-group__title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem;
}

.item-card__property-group__row {
    display: flex;
    gap: 6px;
}

.item-card__property-group__row:last-of-type>p {
    margin: 0px;
}

.item-card__property-group__key {
    font-weight: bold;
}

.item-card__property-group__value {
    word-break: break-word;
}

.item-card__property-group__recipe-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 2rem);
    grid-template-rows: repeat(3, 2rem);
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.item-card__property-group__recipe-grid__item {
    border: 1px solid var(--border-color);
    display: flex;
}

.item-card__property-group__recipe-grid__item>p {
    margin: auto
}

.item-card__property-group__recipe-key {
    margin-bottom: 10px;
}

.item-card__property-group__recipe-key__title {
    font-weight: bold;
}

.item-card__property-group__recipe-key>p {
    margin-bottom: 0px;
}

.item-card__property-group__recipe-key>p>span {
    color: #ffffff50;
}

.back-to-top-button__wrapper {
    position: sticky;
    display: inline;
    left: 100%;
    bottom: 2rem;
    padding-right: 2rem;
}

#search-bar>input,
#back-to-top-button {
    background-color: var(--background-color);
    color: var(--border-color);
    border: 2px solid var(--border-color);
    border-radius: 2.5rem;
    padding: 0.8rem 1rem;
    margin: 1px;
}

#search-bar>input:hover,
#search-bar>input:focus,
#back-to-top-button:hover {
    border-width: 4px;
    padding: calc(0.8rem - 1px) calc(1rem - 1px);
    margin: 0px;
    outline: none;
}